//Fonts

$fontFamily: 'Poppins', sans-serif;
$fontFamilyPlay: 'PlayFairdisplay', sans-serif;
$fontRegular: 400;
$fontSize: 14px;
$bigFontSize: 36px;
$normalFontSize: 24px;

//Colors

$lightGrey: rgba(39, 61, 70, 0.6);
$darkBlueOne: rgba(39, 61, 70, 0.8);
$darkBlue: #273d46;
$inputsColor: #3a4d55;

