@font-face {
 font-family: 'Poppins';
  src: url('../fonts/Poppins.eot');
  src: url('../fonts/Poppins.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poppins-medium-webfont.woff') format('woff'),
  url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
}
@font-face{
	font-family: 'Playfairdisplay';
	src: url('../fonts/Playfairdisplay.eot');
  src: url('../fonts/Playfairdisplay.eot?#iefix') format('embedded-opentype'),
  url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
  url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
  url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
}
@font-face{
	font-family: 'Playfairdisplay_italic';
  src: url('../fonts/Playfairdisplay.eot?#iefix') format('embedded-opentype'),
  url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
  url('../fonts/poppins-medium-webfont.ttf') format('truetype'),
}